<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from smartshop.websitelayout.net/order-tracking-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:33 GMT -->
<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Multipurpose eCommerce Template + Admin" />
    <meta name="description" content="Smartshop - Multipurpose eCommerce Template + Admin" />

    <!-- title  -->
    <title>Smartshop - Multipurpose eCommerce Template + Admin</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="imgNA/logos/favicon.png" />
    <link
      rel="apple-touch-icon"
      href="imgNA/logos/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="imgNA/logos/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="imgNA/logos/apple-touch-icon-114x114.png"
    />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="imagescoza/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendorcoza/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fontscoza/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="fontscoza/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendorcoza/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendorcoza/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendorcoza/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendorcoza/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendorcoza/daterangepicker/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendorcoza/slick/slick.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendorcoza/MagnificPopup/magnific-popup.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="vendorcoza/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="csscoza/util.css" />
    <link rel="stylesheet" type="text/css" href="csscoza/main.css" />
    <!--===============================================================================================-->

    <!-- plugins -->
    <link rel="stylesheet" href="cssNA/css/plugins.css" />

    <!-- theme core css -->
    <link href="cssNA/css/styles.css" rel="stylesheet" />

   

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper mp-pusher" id="mp-pusher">

        
        <!-- CATEGORY MP-MENU
        ================================================== -->

        <!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background" data-background="img/bg/page-title.jpg">
            <div class="container">

                <div class="title-info"><h1>Order Tracking Detail</h1></div>
                <div class="breadcrumbs-info">
                    <ul class="ps-0">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Order Tracking Detail</a></li>
                    </ul>
                </div>

            </div>
        </section>
        
        <!-- ORDER TRACKING
        ================================================== -->
        <section class="md" id="statusdiv" >
            <div class="container">

                <div class="row align-items-center">

                    <div class="col-lg-12 center-col">

                        <div class="common-block">

                            <div class="inner-title">
                                <h2 class="display-26 display-lg-24 mb-0">Tracking Order No - <span class="text-primary">{{trackOrder.orderID}}</span></h2>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-2 mb-md-0">
                                    <div class="text-center bg-light p-4">
                                        <span class="font-weight-700">Shipped Via:</span> UPS Ground
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2 mb-md-0">
                                    <div class="text-center bg-light p-4" id="orderstatus">
                                        <span class="font-weight-700">Status:</span> {{trackOrder.status}}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="text-center bg-light p-4" id="expectingdate">
                                       {{#equal trackOrder.status "Canceled"}}
                                       <span class="font-weight-700">Expected Date:</span> _ / _ / _
                                       {{else}}
                                        <span class="font-weight-700">Expected Date:</span>{{newDate}}
                                       {{/equal}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">

                                    <div class="order-tracking-step"  id="cancelation">
                                     {{#equal trackOrder.status "Confirmed"}}
                                        <div class="step" id="confirmed">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Confirmed</h4>
                                        </div> 
                                       
                                        <div class="step" id="processing">
                                            <i class="fa-solid fa-hourglass-start text-info"></i>
                                            <h4 class="mb-0">Processing</h4>
                                        </div>
                                   
                                        <div class="step" id="shipped">
                                           <i class="fa-solid fa-hourglass-start text-info"></i>
                                          <h4 class="mb-0">Shipped</h4> 
                                        </div>
                                       
                                        <div class="step" id="delivered">
                                           <i class="fa-solid fa-hourglass-start text-info"></i>
                                            <h4 class="mb-0">Delivered</h4>
                                        </div>
                                      {{/equal}}
                                     {{#equal trackOrder.status "Processing order"}}
                                        <div class="step" id="confirmed">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Confirmed</h4>
                                        </div> 
                                       
                                        <div class="step" id="processing">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Processing</h4>
                                        </div>
                                   
                                        <div class="step" id="shipped">
                                           <i class="fa-solid fa-hourglass-start text-info"></i>
                                          <h4 class="mb-0">Shipped</h4> 
                                        </div>
                                       
                                        <div class="step" id="delivered">
                                           <i class="fa-solid fa-hourglass-start text-info"></i>
                                            <h4 class="mb-0">Delivered</h4>
                                        </div>
                                      {{/equal}}
                                     {{#equal trackOrder.status "Shipped"}}
                                        <div class="step" id="confirmed">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Confirmed</h4>
                                        </div> 
                                       
                                        <div class="step" id="processing">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Processing</h4>
                                        </div>
                                   
                                        <div class="step" id="shipped">
                                          <i class="fa-solid fa-circle-check text-success"></i>
                                          <h4 class="mb-0">Shipped</h4> 
                                        </div>
                                       
                                        <div class="step" id="delivered">
                                           <i class="fa-solid fa-hourglass-start text-info"></i>
                                            <h4 class="mb-0">Delivered</h4>
                                        </div>
                                      {{/equal}}
                                     {{#equal trackOrder.status "Delivered"}}
                                        <div class="step" id="confirmed">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Confirmed</h4>
                                        </div> 
                                       
                                        <div class="step" id="processing">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Processing</h4>
                                        </div>
                                   
                                        <div class="step" id="shipped">
                                          <i class="fa-solid fa-circle-check text-success"></i>
                                          <h4 class="mb-0">Shipped</h4> 
                                        </div>
                                       
                                        <div class="step" id="delivered">
                                           <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Delivered</h4>
                                        </div>
                                      {{/equal}}
                                     {{#equal trackOrder.status "Returned"}}
                                        <div class="step" id="confirmed">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Confirmed</h4>
                                        </div> 
                                       
                                        <div class="step" id="processing">
                                            <i class="fa-solid fa-circle-check text-success"></i>
                                            <h4 class="mb-0">Processing</h4>
                                        </div>
                                   
                                        <div class="step" id="shipped">
                                          <i class="fa-solid fa-circle-check text-success"></i>
                                          <h4 class="mb-0">Delivered</h4> 
                                        </div>
                                       
                                        <div class="step" id="delivered">
                                           <i class="fa-solid fa-arrow-rotate-left text-warning"></i>
                                            <h4 class="mb-0">Returned</h4>
                                        </div>
                                      {{/equal}}
                                     {{#equal trackOrder.status "Canceled"}}
                                        <div class="step" id="confirmed">
                                           <i class="fa-regular fa-circle-xmark text-danger"></i>
                                            <h2 class="mb-0">canceled</h2>
                                        </div>
                                      {{/equal}}
                                      
                                    </div>
                                </div>
                            </div>
                      <div class="container">
                       <div class="row">

                    <!-- left pannel section -->
                    <div class="col-lg-9 col-md-12 ps-2-3 mb-1-9 mb-lg-0 mt-5">

                        <div class="common-block">

                            <div class="inner-title">
                                <h4 class="mb-0">Order details</h4>
                            </div>

                            <div class="shop-cart-table">
                                <table class="table shop-cart text-center mb-0">
                                    <colgroup>
                                        <col width="100">
                                            <col>
                                                <col width="1">
                                                    <col>
                                    </colgroup>

                                    <thead>
                                        <tr>
                                            <th class="first"></th>
                                            <th class="text-start text-uppercase font-weight-500">Product</th>
                                            <th class="text-start text-uppercase font-weight-500">Quantity</th>
                                            <th class="text-center text-uppercase font-weight-500">price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {{#each trackOrder.items}}
                                        <tr>
                                            <td class="product-thumbnail text-start">
                                                <a href="#"><img src="/images/uploads/{{this.product.image.[0]}}" alt="..."></a>
                                            </td>
                                            <td class="text-start">
                                                <a href="#">{{this.product.name}}</a>
                                                <span class="text-uppercase d-block"></span>
                                            </td>
                                            <td class="product-subtotal text-center">{{this.quantity}}</td>
                                            <td class="product-subtotal text-center">${{this.product.price}}</td>
                                            
                                        </tr>
                                      {{/each}}
                                    </tbody>
                                </table>
                            </div>

                            <div class="buttons-set" id="cancelbutton">
                                {{#equal trackOrder.status "Confirmed"}}
                                  <a class=""></i></a>
                                  <a onclick="cancelOrder('{{trackOrder._id}}')" class="butn-style2 wide"><i class="fas fa-arrow-left me-1"></i>Cancel order</a>
                                {{/equal}}
                                {{#equal trackOrder.status "Processing"}}
                                  <a class=""></i></a>
                                  <a onclick="cancelOrder('{{trackOrder._id}}')" class="butn-style2 wide"><i class="fas fa-arrow-left me-1"></i>Cancel order</a>
                                {{/equal}}
                                {{#equal trackOrder.status "Shipped"}}
                                  <a class=""></i></a>
                                  <a onclick="cancelOrder('{{trackOrder._id}}')" class="butn-style2 wide"><i class="fas fa-arrow-left me-1"></i>Cancel order</a>
                                {{/equal}}
                                {{#equal trackOrder.status "Delivered"}}
                                  <a class=""></i></a>
                                  <a href="/" onclick="testswal()" class="butn-style2 wide"><i class="fas fa-arrow-left me-1"></i>Return</a>
                                {{/equal}}
                                {{#equal trackOrder.status "Returned"}}
                                  <a class=""></i></a>
                                  <a onclick="cancelOrder('{{trackOrder._id}}')" class="butn-style2 wide"><i class="fas fa-arrow-left me-1"></i>Cancel order</a>
                                {{/equal}}
                                {{#equal trackOrder.status "Canceled"}}
                                  <a class=""></a>
                                {{/equal}}
                            </div>

                        </div>

                    </div>
                    <!-- end left pannel section -->

                    <!-- right pannel section -->
                    <div class="col-lg-3 col-12 side-bar mt-5">

                        <div class="widget" style="background-color: #fff">

                            <div class="widget-title">
                                <h5>Order Summary</h5>
                            </div>

                            <table class="table classic">
                                <tbody>
                                    <tr>
                                        <th>Subtotal:</th>
                                        <td class="text-gray-dark">${{trackOrder.subtotal}}</td>
                                    </tr>
                                    <tr>
                                        <th>Discount:</th>
                                        <td class="text-gray-dark">${{trackOrder.discountAmount}}</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping:</th>
                                        <td class="text-gray-dark">Free</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td class="text-lg text-gray-dark">${{trackOrder.total}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="widget">
                      <div class="form-check bg-light pl-0">
                        <div class="mr-2 mb-3 bg-dark d-flex justify-content-between">
                          <h5 class="card-header text-white mb-2 mt-2">Address </h5>
                        </div>
                        <div class="pl-4" id="custom-target">
                          <label class="form-check-label text-secondary" for="exampleadd{{billingAddress.[0]._id}}" >
                          <h5 ><strong>{{billingAddress.[0].name}}</strong></h5> 
                          <p> {{billingAddress.[0].address}} &nbsp&nbsp(H) <br> {{billingAddress.[0].street}} &nbsp&nbsp <br>{{billingAddress.[0].city}} &nbsp&nbsp(Dt)<br>{{billingAddress.[0].state}} &nbsp&nbsp(St) &nbsp,&nbsp{{billingAddress.[0].country}} <br>{{billingAddress.[0].pincode}} &nbsp&nbsp(Pin)<br> {{billingAddress.[0].phone}} &nbsp&nbsp(Mob)</p>
                          </label>
                        </div>
                      </div>
                        </div>
                        

                    </div>
                    <!-- end right pannel section -->

                </div>
            </div>

                        </div>

                    </div>

                </div>

            </div>
            
        </section>
       
        <!-- FOOTER
        ================================================== -->
        <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
              <h4 class="stext-301 cl0 p-b-30">
                Categories
              </h4>

              <ul>
                <li class="p-b-10">
                  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                    Women
                  </a>
                </li>

                <li class="p-b-10">
                  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                    Men
                  </a>
                </li>

                <li class="p-b-10">
                  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                    Shoes
                  </a>
                </li>

                <li class="p-b-10">
                  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                    Watches
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
              <h4 class="stext-301 cl0 p-b-30">
                Help
              </h4>

              <ul>
                <li class="p-b-10">
                  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                    Track Order
                  </a>
                </li>

                <li class="p-b-10">
                  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                    Returns
                  </a>
                </li>

                <li class="p-b-10">
                  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                    Shipping
                  </a>
                </li>

                <li class="p-b-10">
                  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                    FAQs
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
              <h4 class="stext-301 cl0 p-b-30">
                GET IN TOUCH
              </h4>

              <p class="stext-107 cl7 size-201">
                Any questions? Let us know in store at 8th floor, 379 Hudson St,
                New York, NY 10018 or call us on (+1) 96 716 6879
              </p>

              <div class="p-t-27">
                <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                  <i class="fa fa-facebook"></i>
                </a>

                <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                  <i class="fa fa-instagram"></i>
                </a>

                <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                  <i class="fa fa-pinterest-p"></i>
                </a>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
              <h4 class="stext-301 cl0 p-b-30">
                Newsletter
              </h4>

              <form>
                <div class="wrap-input1 w-full p-b-4">
                  <input
                    class="input1 bg-none plh1 stext-107 cl7"
                    type="text"
                    name="email"
                    placeholder="email@example.com"
                  />
                  <div class="focus-input1 trans-04"></div>
                </div>

                <div class="p-t-18">
                  <button
                    class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                  >
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
              <a href="#" class="m-all-1">
                <img src="/imagescoza/icons/icon-pay-01.png" alt="ICON-PAY" />
              </a>

              <a href="#" class="m-all-1">
                <img src="/imagescoza/icons/icon-pay-02.png" alt="ICON-PAY" />
              </a>

              <a href="#" class="m-all-1">
                <img src="/imagescoza/icons/icon-pay-03.png" alt="ICON-PAY" />
              </a>

              <a href="#" class="m-all-1">
                <img src="/imagescoza/icons/icon-pay-04.png" alt="ICON-PAY" />
              </a>

              <a href="#" class="m-all-1">
                <img src="/imagescoza/icons/icon-pay-05.png" alt="ICON-PAY" />
              </a>
            </div>

            <p class="stext-107 cl6 txt-center">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script>
              All rights reserved | Made with
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              by
              <a href="https://colorlib.com" target="_blank">Colorlib</a>
              &amp; distributed by
              <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
          </div>
        </div>
      </footer>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function testswal(){
         
        event.preventDefault()
        Swal.fire({
              title: 'Order has been canceled',
              target: '#custom-target',
              icon: 'success',
            })
             
        console.log('function is calling for sweet alert')
      }

      function cancelOrder(orderId){
        console.log('function is calling for cancel the order')
        event.preventDefault();
        Swal.fire({
          title: 'Are you sure?',
          target: document.getElementById('custom-target'),
          text: "You won't be able to revert this!",
          iconHtml: '?',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, cancel it!'
        }).then((result) => {
          if (result.isConfirmed) {
            axios.patch('/order-cancel?id='+orderId).then((res)=>{
              console.log(res.data.message,'message from the axios res')
              if(res.data.message == 'Order canceled')
               Swal.fire({
                  title: 'Order has been canceled',
                  target: '#custom-target',
                  icon: 'success',
                }).then((re)=>{
                  document.getElementById('orderstatus').innerHTML = `<span class="font-weight-700">Status:</span> Canceled` 
                  document.getElementById('expectingdate').innerHTML = `<span class="font-weight-700">Expected Date:</span> _ / _ / _`
                  document.getElementById('cancelation').innerHTML = `<div class="step" id="confirmed">
                                                                        <i class="fa-regular fa-circle-xmark text-danger"></i>
                                                                          <h2 class="mb-0">Order canceled</h2>
                                                                      </div>`
                  document.getElementById('cancelbutton').innerHTML = ''

                })
            })
          }
        })
      }
    </script>
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    
    <!-- all js include start -->

    <!-- jQuery -->
    <script src="https://kit.fontawesome.com/07fcc2468d.js" crossorigin="anonymous"></script>
    <!-- all js include start -->
    <!-- jQuery -->
    <script src="jsNA/jquery.min.js"></script>

    <!-- popper js -->
    <script src="jsNA/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="jsNA/bootstrap.min.js"></script>

    <!-- core.min.js -->
    {{!-- <script src="jsNA/core.min.js"></script> --}}

    <!-- custom scripts -->
    <script src="jsNA/main.js"></script>

    <!-- all js include end -->
    <!--===============================================================================================-->
    <script src="vendorcoza/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendorcoza/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendorcoza/bootstrap/js/popper.js"></script>
    <script src="vendorcoza/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendorcoza/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function(){ $(this).select2({
      minimumResultsForSearch: 20, dropdownParent:
      $(this).next('.dropDownSelect2') }); })
    </script>
    <!--===============================================================================================-->
    <script src="vendorcoza/daterangepicker/moment.min.js"></script>
    <script src="vendorcoza/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendorcoza/slick/slick.min.js"></script>
    <script src="jscoza/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="vendorcoza/parallax100/parallax100.js"></script>
    <script>
      $('.parallax100').parallax100();
    </script>
    <!--===============================================================================================-->
    <script
      src="vendorcoza/MagnificPopup/jquery.magnific-popup.min.js"
    ></script>
    <script>
      $('.gallery-lb').each(function() { // the containers for all your
      galleries $(this).magnificPopup({ delegate: 'a', // the selector for
      gallery item type: 'image', gallery: { enabled:true }, mainClass:
      'mfp-fade' }); });
    </script>
    <!--===============================================================================================-->
    <script src="vendorcoza/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    {{!-- <script src="vendorcoza/sweetalert/sweetalert.min.js"></script> --}}
    <script>
      $('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
      e.preventDefault(); }); $('.js-addwish-b2').each(function(){ var
      nameProduct = $(this).parent().parent().find('.js-name-b2').html();
      $(this).on('click', function(){ swal(nameProduct, "is added to wishlist!", "success"); $(this).addClass('js-addedwish-b2'); $(this).off('click');
      }); }); $('.js-addwish-detail').each(function(){ var nameProduct =
      $(this).parent().parent().parent().find('.js-name-detail').html();
      $(this).on('click', function(){ swal(nameProduct, "is added to wishlist!", "success"); $(this).addClass('js-addedwish-detail');
      $(this).off('click'); }); });
      /*---------------------------------------------*/
      $('.js-addcart-detail').each(function(){ var nameProduct =
      $(this).parent().parent().parent().parent().find('.js-name-detail').html();
      $(this).on('click', function(){ swal(nameProduct, "is added to cart !",
      "success"); }); });

    </script>
    <!--===============================================================================================-->
    <script
      src="vendorcoza/perfect-scrollbar/perfect-scrollbar.min.js"
    ></script>
    <script>
      $('.js-pscroll').each(function(){ $(this).css('position','relative');
      $(this).css('overflow','hidden'); var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1, scrollingThreshold: 1000, wheelPropagation: false, });
      $(window).on('resize', function(){ ps.update(); }) });
    </script>
    <!--===============================================================================================-->
    <script src="jscoza/main.js"></script>

	<!-- all js include end -->

</body>


<!-- Mirrored from smartshop.websitelayout.net/order-tracking-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Jan 2023 16:00:33 GMT -->
</html>