<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!--===============================================================================================-->
    
    <!--===============================================================================================-->
  </head>
  <body>
    {{#if user}}
    {{>userPartial}}
    {{else if admin}}
    {{>adminPartial}}
    {{else if adminlogin}}
    {{>adminlogin}}
    {{else if userlogin}}
    {{>userlogin}}
    {{/if}}
    {{{body}}}
  </body>

</html>


